<div class="container">
  <h2>Feeds list</h2>
  <div *ngIf="def">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
  </div>
<div>
<table class="table" *ngIf="dude">
  <thead>
    <th>
      Title
    </th>
    <th>
      Description
    </th>
    <th>
      Comments
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let feed of Feeds">
      <td>
        {{feed.title}}
      </td>
      <td>
        {{feed.content}}
      </td>
      <td>
        <button type="button" (click)="viewComments(feed._id)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
         View Comments
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Display Comments -->
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">View Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
          <div *ngFor="let comment of Comments">
            <p><img src="{{imageUrl+comment.memberProfile[0].avtar_imgPath}}" alt="" height="50" width="50">
              <b>Name </b>: {{comment.memberProfile[0].firstName}} {{comment.memberProfile[0].lastName}} <br>
              {{comment.source[0]}}
            </p>
                          <!-- http://prodapi.celebkonect.com/ -->
            <hr>
           
          </div>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>