<div class="container">
    <div *ngIf="def">
        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
  <h2>Celebrities list</h2>
<div>
<table class="table" *ngIf="dude">
  <thead>
    <th>
      memberId
    </th>
    <th>
      email
    </th>
    <th>
      mobile
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let user of Users">
      <td>
        {{user._id}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        {{user.mobileNumber}}
      </td>
    </tr>
  </tbody>
</table>

</div>
</div>